/* App.css */

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.2rem; /* width of the scrollbar */
  display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: thin; /* width of the scrollbar */
  scrollbar-color: transparent transparent; /* Hide scrollbar */
}

/* Hide scrollbar for IE */
* {
  -ms-overflow-style: none;
}
